*{
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-family: 'Pixelify Sans', sans-serif;
}

body{
    height: 100vh;
    display: auto;
    background-image: url(fundo\ pra\ bolo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

}

button{
    background: linear-gradient(45deg, #7c10a7, #771e83);
    color: rgb(255, 9, 9);
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    
}

button:hover{
    background-color: linear-gradient(45deg, #7c10a7, #830e92);
    color: rgb(255, 0, 0);
    transition: 0.3s;
    transform: scale(1.2);
    z-index: 100;
}

.coracao {
  position: absolute;
  bottom: -20px;
  font-size: 24px;
  animation: subir 4s linear forwards;
  opacity: 0.8;
}

@keyframes subir {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) scale(1.5);
    opacity: 0;
  }
  
}

.card{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    margin-top: 80px;
    text-align: center;

     & img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        animation: efeitoPulsar 1.5s infinite;

        
     }

     

}


/* Define a animação */
@keyframes efeitoPulsar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Aumenta 10% no meio */
  }
  100% {
    transform: scale(1);
  }
}

.surpresa{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

.bnt-prymary{
    background: linear-gradient(45deg, #4b0082, #8b00ff);
}

.hidden {
    display: none; /* Isso faz o elemento sumir da tela */
}

/* Um estilo opcional para a mensagem brilhar ao aparecer */
#mensagem-secreta {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}